version: '3'
services:
  nginx:
    restart: always
    depends_on:
     - jenkins
     - nexus
    image: registry-vpc.cn-shenzhen.aliyuncs.com/euler-mirrors/nginx:1.27.3
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./volumes/nginx/conf/conf.d:/etc/nginx/conf.d:ro
      # 10-listen-on-ipv6-by-default.sh: info: can not modify /etc/nginx/conf.d/default.conf (read-only file system?)
      # - ./volumes/nginx/conf/conf.d/default.conf:/etc/nginx/conf.d/default.conf:rw
      - ./volumes/nginx/conf/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./volumes/nginx/logs:/var/log/nginx:rw
      - /opt/nginx/tls/dhparams.pem:/etc/nginx/dhparams.pem:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - /opt/github:/web:ro
    networks:
      euler:
        ipv4_address: 192.168.0.1

  jenkins:
   image: registry-vpc.cn-shenzhen.aliyuncs.com/euler-mirrors/jenkins:2.492.2
   volumes:
     #- /usr/lib64/libltdl.so.7:/usr/lib/x86_64-linux-gnu/libltdl.so.7
     #- /var/run/docker.sock:/var/run/docker.sock
     #- /usr/bin/docker:/usr/bin/docker
     - /data/docker/volumes/ci/jenkins/jenkins_home:/var/jenkins_home:rw
   extra_hosts:
     - "repo.eulerproject.io:192.168.0.1"

  nexus:
    image: registry-vpc.cn-shenzhen.aliyuncs.com/euler-mirrors/nexus3:3.37.3
    volumes:
      - /data/docker/volumes/ci/nexus/data:/nexus-data

  networks:
    euler:
      ipam:
        config:
          - subnet: 192.168.0.0/24

